@page "/counterWebAssemblyLocalStorage"
@inject IJSRuntime _jsRuntime
@inject ILocalStorageService _localStorageService

<h3>CounterLocalStorage</h3>


<p>
    Current Count : @currentCount
</p>
<br />

<button class="btn btn-primary" @onclick="IncrementCount">Click Me</button>

@code {
    public int currentCount { get; set; }

    public async Task IncrementCount()
    {
        currentCount++;
        await _jsRuntime.InvokeVoidAsync("localStorage.setItem", "count", currentCount);
        //await _localStorageService.SetItemAsync("count", currentCount);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var localStorageCount = await _jsRuntime.InvokeAsync<string>("localStorage.getItem", "count");
            //var localStorageCount2 = await _localStorageService.GetItemAsync<int>("count");

            currentCount = Convert.ToInt32(localStorageCount);

            StateHasChanged();
        }
    }
}
