@page "/"

<PageTitle>Index</PageTitle>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<ErrorBoundary>

    <ChildContent>
        @*Used cascading parameter just for experiment*@
        <CascadingValue Name="message" Value="123" IsFixed="true">
            <CascadingValue Value="7" Name="luckyNumber">

                <GrpcCustomer sequence="1" ParentNotifySecondComponent="NotifySecondComponent">
                </GrpcCustomer>

            </CascadingValue>
        </CascadingValue>

    </ChildContent>

    <ErrorContent>
        <div class="text-danger">There was an error</div>
    </ErrorContent>


</ErrorBoundary>

<hr />
<hr />
<hr />
<hr />

<ErrorBoundary>

    <ChildContent>
        <GrpcCustomer sequence="2" @ref="secondGrpcCustomer">
        </GrpcCustomer>
    </ChildContent>


    <ErrorContent>
        <div class="text-danger">There was an error</div>
    </ErrorContent>

</ErrorBoundary>


@code {
    private GrpcCustomer secondGrpcCustomer { get; set; }

    private async Task NotifySecondComponent()
    {
        await secondGrpcCustomer.LoadCustomers();
    }
}


