@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ErrorBoundary>

    <ChildContent>
        <Counter currentCount="11"/>
    </ChildContent>

    <ErrorContent>
        <div>
            Something is wrong with this.
        </div>
    </ErrorContent>

</ErrorBoundary>

<Counter currentCount="22"/>
